@import url("https://fonts.googleapis.com/css?family=Orbitron");

body {
  background-color: #121212;
  margin: 0;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px:
}

#hour-dots{
}

#clock-block{
  align-items:center;
}

#progress{
  width: 100%;
  background-color: grey;
  margin-left: 0;
  margin-right: 0;
}

#bar{
  width: 1%;
  height: 30px;
  background-color: #66ee99;
  margin-left: 0;
  margin-right: 0;
}



#weather ul{
  display:flex;
  flex-direction: row;
  list-style: none;
  color: #66ee99;
  margin: 0;
  padding: 0;
}

#weather li{
  margin-right: 5px;
}

#wrapper{
  width: 90%;
  margin: 20px auto;
  border: 2px solid red;
}

#list{
color:#66ee99;
}

#list li{
  list-style: none;
  margin: 10px 25px;
  padding: 30px;
  border-left: 3px solid white;
}

#list li:hover{
  border-color: red;
}

#add-book{
  width: 400px;
  margin: 0 auto;
}

#add-book input{
margin: 20px 0;
padding: 10px;
border: 1px solid red;
border-radius: 4px 0 0 4px;
}

#add-book button{
  color: white;
  background:red;
  border: 1px solid red;
  border-radius: 0 4px 4px 0;
  margin: 20px 0;
  padding: 10px 20px;
  cursor:pointer;
}

#add-book:after{
  content: "";
  display:block;
  clear:both;
}

 .delete{
  background-color: red;
  width: 30px;
  float: right;
  padding: 15px;
  border-radius: 4px;
}

.delete:hover{
  background-color: white;
  cursor: pointer;
}
